<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>AudioDaBitch Developer Tool</string>
  <key>CFBundleExecutable</key>
  <string>devtool</string>
  <key>CFBundleIconFile</key>
  <string>DevToolIcon</string>
  <key>CFBundleIdentifier</key>
  <string>com.micheldamhorst.audiodabitch.devtool</string>
  <key>CFBundleName</key>
  <string>AudioDaBitch Developer Tool</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.5.7</string>
  <key>CFBundleVersion</key>
  <string>0.5.7</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
